body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

#game-container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #444;
  overflow: hidden;
  border: 5px solid #000;
}

canvas {
  display: block;
  margin: auto;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
